---

layout: default

---

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
           <img src="assets/img/Q_CRISIS_crop.jpg">
            <nav>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="keyquestions">Key Questions</a></li>
                    <li><a href="registration">Key Dates & Registration</a></li>
                    <li><a href="invitedspeakers">Invited Speakers</a></li>
                    <li><a href="programme">Programme</a></li>
                    <li><a href="locationandtravel">Location & Travel</a></li>
                    <li><a href="accommodation">Accomodation</a></li>
                </ul>
            </nav>
        </header>
        <main>

			{{ content }}

        </main>
    </body>
</html>
