---

layout: default

---

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
           <img src="assets/img/Q_CRISIS_crop.jpg">
            <nav>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="participants">Participants</a></li>
		            <li><a href="programme">Scientific Programme</a></li>  
                    <li><a href="localinfo">Local Info</a></li>
                    <li><a href="talks">Talks</a></li>
                    <li><a href="poster">Posters</a></li>
                </ul>
            </nav>
        </header>
        <main>

			{{ content }}

        </main>
    </body>
</html>
